*{
    margin: 0;
    padding: 0;
}

main{
    width: 50%;
    margin: 0 auto;
    background-color: grey;
    font-size: 30px;
}

input{
    width: 30%;
    height: 30px;
}

.form-data{
height: 80vh;
display: flex;
flex-direction: column;
&
button{
    width: 80px;
    height: 40px;
}
}
